## This Jupyter Notebook will be used to present my Capstone Project.

This is part of the Coursera IBM Data Scientist Master Certification.

There may be some notes within the notebook not explicitly relevent to an adjacent cell.

In [1]:
import pandas as pd
import numpy as np

In [2]:
print('Hello Capstone Project Course!')

Hello Capstone Project Course!

### Using Pandas to scrape the Toronto data from website

In [40]:
df_raw = pd.read_html('https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M')

In [41]:
df = df_raw[0]
df['Borough'].unique()

array(['Not assigned', 'North York', 'Downtown Toronto', 'Etobicoke',
       'Scarborough', 'East York', 'York', 'East Toronto', 'West Toronto',
       'Central Toronto', 'Mississauga'], dtype=object)

In [42]:
print(df.head())
print(df.shape)
print(df.isnull().sum().sum())

  Postal Code           Borough               Neighborhood
0         M1A      Not assigned                        NaN
1         M2A      Not assigned                        NaN
2         M3A        North York                  Parkwoods
3         M4A        North York           Victoria Village
4         M5A  Downtown Toronto  Regent Park, Harbourfront
(180, 3)
77

Note that when scraping the data, Neighborhoods in the same Postal Code were grouped automatically

Take the "Not assigned" out of the dataframe.

In [43]:
df_clean = df[df['Borough']!='Not assigned']

In [44]:
df_clean.reset_index(inplace=True)
df_clean.head()

,index,Postal Code,Borough,Neighborhood
0,2,M3A,North York,Parkwoods
1,3,M4A,North York,Victoria Village
2,4,M5A,Downtown Toronto,"Regent Park, Harbourfront"
3,5,M6A,North York,"Lawrence Manor, Lawrence Heights"
4,6,M7A,Downtown Toronto,"Queen's Park, Ontario Provincial Government"

In [45]:
df_clean = df_clean.drop('index',axis=1)

In [46]:
df_clean

,Postal Code,Borough,Neighborhood
0,M3A,North York,Parkwoods
1,M4A,North York,Victoria Village
2,M5A,Downtown Toronto,"Regent Park, Harbourfront"
3,M6A,North York,"Lawrence Manor, Lawrence Heights"
4,M7A,Downtown Toronto,"Queen's Park, Ontario Provincial Government"
...,...,...,...
98,M8X,Etobicoke,"The Kingsway, Montgomery Road, Old Mill North"
99,M4Y,Downtown Toronto,Church and Wellesley
100,M7Y,East Toronto,Business reply mail Processing Centre
101,M8Y,Etobicoke,"Old Mill South, King's Mill Park, Sunnylea, Hu..."
102,M8Z,Etobicoke,"Mimico NW, The Queensway West, South of Bloor,..."

In [47]:
print(df_clean.shape)

(103, 3)

Check the dataframe to see if any null values exist that need to be cleaned up before moving on.

In [48]:
df_clean.isnull().sum().sum()

0